django
django-autoslug
django-debug-toolbar
django-model-utils
factory-boy
ipython
pillow
psycopg2
pytest
pytest-cov
pytest-django
django-allauth
django-crispy-forms
django-widget-tweaks
django-localflavor
mercadopago
django-environ
pytest-mock
requests
